* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
}

input[type="number"] {
    width: 4em;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    
}

.header {
    background-color: lightgrey;
    color: white;
    height: auto;
    display: grid;
    font-size: 3rem;
    font-family: "Big Shoulders", sans-serif;
    font-weight: 400;
    grid-template-columns: 1fr 9fr 1fr;
    gap: 2em;
}

.header-logo {
    background-image: url(photos/books.avif);
    height: 4rem;
    width: 4rem;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    margin-top: 0.5em;
    margin-left: 1em;
}

.header-text {
    align-self: center;
    justify-self: left;
    font-size: 3rem;
    margin-top: 0.2em;
}

.footer {
    background-color: lightgrey;
    color: white;
    height: 3rem;
    display: grid;
    place-content: center;
    font-size: 1rem;
    font-family: "Big Shoulders", sans-serif;
    font-weight: 400;
}

.welcome-text {
    font-family: "Big Shoulders", sans-serif;
    padding: 40px;
    background: rgb(211,211,211);
    background: linear-gradient(90deg, rgba(211,211,211,1) 0%, rgba(211,211,211,1) 30%, rgba(255,255,255,1) 100%);
    color: white;
    text-shadow: 2px 2px 4px black;
}

#new-book {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.7em 1.7em;
    cursor: pointer;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    width: 20rem;
    height: 2rem;
    margin-left: 2.5em;
    margin-top: 1.5em;
  }
  
  #new-book:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
  }
  
  #new-book:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  #new-book:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #009087;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  #new-book:hover {
    color: #ffffff;
    border: 1px solid #009087;
  }
  
  #new-book:hover:before {
    top: -35%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  #new-book:hover:after {
    top: -45%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }

  .confirm,
  .cancel {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  }
  
  .confirm:active,
  .cancel:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
  }
  


/* Sign-up button */ 
.sign-up {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;
    width: 200px;
    place-content: center;
  }
  
  .sign-up:before {
    content: "";
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    display: block;
    border-radius: 50px;
    background: #ffffff;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
  }
  
  .sign-up span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: rgba(0, 0, 0, 0.5);
  }
  
  .sign-up svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #009087;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }
  
  .sign-up:hover:before {
    width: 80%;
    background: #ffffff;
  }
  
  .sign-up:hover svg {
    transform: translateX(0);
  }
  
  .sign-up:active {
    transform: scale(0.95);
  }
  
.container {
    flex: 1;
    padding: 1em;
}

.card {
    margin: 0.5em;
    margin-top: 0.5em;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 4.5fr 1fr 1fr 100px;
    font-family: quicksand;
    padding-left: 2.5vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
}

.delBtn {
  color: #090909;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  width: 100px;
  height: auto;
  display: grid;
  place-content: center;
}

.delBtn:hover {
  border: 1px solid white;
}

.delBtn:active {
  box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}

.readBtn {
  color: #090909;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  width: 10vw;
  height: auto;
  display: grid;
  place-content: center;
}

.readBtn:hover {
  border: 1px solid white;
}

.readBtn:active {
  box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}

.currentBtn {
  color: #090909;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  width: 10vw;
  height: auto;
  display: grid;
  place-content: center;
}

.currentBtn:hover {
  border: 1px solid white;
}

.currentBtn:active {
  box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}



.legend {
  display: grid;
  grid-template-columns: 4.5fr 1fr 1fr 100px;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-top: 1em;
  font-family: "Ysabeau Office", sans-serif;
  height: 0.5vh;
}
.l1, .l2, .l3, .l4 {
  font-size: 20px;
}

.l1 {
  padding-left: 2vw;
}

.l2, .l3 {
  padding-left: 2.4vw;
}

.l4 {
  padding-left: 0.4vw;
}

.currentBtnYes {
  background-color: rgb(240, 173, 128);
}

.currentBtnNo {
  background-color: #e8e8e8;
}

.card.unread {
  border-bottom: lightgrey 1px solid;
  box-shadow: 0px 5px 10px grey;
}

.card.read {
  border-bottom: rgba(144, 238, 144, 0.521) 1px solid;
  box-shadow: 0px 5px 10px rgba(144, 238, 144, 0.521);
}

.card.currentYes {
  border-bottom: rgb(240, 173, 128) 1px solid;
  box-shadow: 0px 5px 10px rgb(240, 173, 128);
}

.readBtnYes {
  background-color: rgba(144, 238, 144, 0.521);
}

dialog {
  display: none; 
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* center the dialog */
  width: 60%; 
  height: 48%;
  padding: 20px;
  background-color: white;
  border-radius: 8px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  z-index: 1000;
}


dialog[open] {
  display: block;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.3); /* slightly darken background */
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px; /* space between form elements */
}

input[type="text"],
input[type="number"] {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

label {
  font-size: 1em;
  font-weight: bold;
}

button.confirm {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 0.8em;
}

button.confirm:hover {
  background-color: #45a049; 
}

button.cancel {
  padding: 10px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 0.8em;
}

button.cancel:hover {
  background-color: #e53935; 
}


form {
  
  
}

@media (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 22vh 1fr auto;
  }



  .header {
    display: grid;
    grid-template-areas: 
      'logo signup'
      'logo headtext';
    
    }

  #new-book {
    margin-left: 10%;
  }

  .header-logo {
    grid-area: logo;
    
  }
  .header-text {
    font-size: 2rem;
    grid-area: headtext;
    margin-top: -150%;
    margin-left: -60%;
    width: 100%;
  }
  .sign-up-button-container {
    grid-area: signup;
    padding-left: 70%;
    
  }
  
  .legend {
    margin-left: 2vw;
    margin-right: 2vw;
  }

  .l1 {
    width: 50vw;
  }
  .l2, .l3, .l4 {
    margin-left: -20%;
  }

  .l1, .l2, .l3, .l4 {
    font-size: 0.5em;
  }
  .l2 {
    margin-left: -10%;
  }
  .l4 {
    margin-left: 3%;
  }
  .l3 {
    margin-left: -7%;
  }

  .card {
    padding: 0;
    padding-left: 10vw;
    margin-top: 1em;
    height: auto;
    font-size: 0.5em;
    white-space: pre-line; /* Ensures \n is treated as a line break */
    margin-left: -8vw;
    margin-right: -8vw;
  }

  .delBtn,
  .currentBtn,
  .readBtn {
    width: 60px;
    height: 60px;
    margin-left: -30%;
    margin-top: 0.5vh;
  }
  .readBtn {
    margin-left: -10%;
  }
  .delBtn {
    margin-left: 6%;
  }

  dialog {
    width: 90%;
    height: 40%;
  }
}